//desktop-version
$desktop-width: 1920px;
$desktop-height: 1080px;
$desktop-width-block: 1440px;

//mobile-version
$mobil-width: 320px;
$mobil-height: 568px;
$mobil-width-block: 200px;

//color
$color-blue: #3877EE;
$color-pink: #EF5DA8;
$color-background: #F4F5F9;
$color-navbutt: #9BA5B9;
$color-layout: #42567A;

//text
$text-bebas: Bebas Neue;
$text-sans: PT Sans;
$font-weight: 400;


//circle
$num-points: 6;
$circle-diameter: 530px;
$point-size: 6px;